@model IEnumerable<GerenciamentoPIM.Models.Tarefas>



<h2 class="text-center" onload="horarioDiferenca();">Gerenciador de Tarefas UNIPIM</h2>

<div class="container center-block">
    <h3 class="h3">Tarefas que você possui no momento: </h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tarefas</th>

                <th scope="col">Data de Entrega</th>

                <th scope="col">Dias restantes </th>

            </tr>
        </thead>
        @foreach (var item in Model)
        {
    <tbody>
        <tr>
            @{
                var dataInicial = DateTime.Now.ToString("dd/MM/yyyy");
                var dataEntrega = item.Data.ToString("dd/MM/yyyy");
                TimeSpan tempoRestante = Convert.ToDateTime(dataEntrega) - Convert.ToDateTime(dataInicial);



                <td onclick="mostrarTarefa(@Html.DisplayFor(modelItem => item.codigo))">
                    <button type="button" class="btn btn-primary btn-lg btn-block">Tarefa:   @Html.DisplayFor(modelItem => item.Nome)</button>
                    <div>
                        <span id="@Html.DisplayFor(modelItem => item.codigo)" style="display:none">
                            <p style="padding: 10px; background-color:   #FFFACD;">@Html.DisplayFor(modelItem => item.Tarefa)</p>
                        </span>
                    </div>
                </td>
                <th scope="row" id="dataLimite"> @dataEntrega</th>
                if (@tempoRestante.Days < 3 && @tempoRestante.Days != 0 && @tempoRestante.Days > 0)
                {
                    <th scope="row">@tempoRestante.Days Dias SUA TAREFA ESTÁ PARA VENCER!!</th>
                }
                else if (tempoRestante.Days == 0)
                {
                    <th scope="row">A entrega é HOJE!</th>
                }
                else if (tempoRestante.Days < 0)
                {
                    <th scope="row">Sua tarefa já venceu!</th>
                }
                else
                {
                    <th scope="row">@tempoRestante.Days Dias</th>
                }


            }


        </tr>
        
    </tbody>


        }
    </table>
    
    <script>
        function mostrarTarefa(id) {

            var elToggled = document.getElementById(id);

            if (elToggled.style.display == "none") {

                elToggled.style.display = "block";
            }
            else {
                elToggled.style.display = "none";
            }



        }
    </script>

    <script>
        function mostrarVencidas(dia, mes, ano) {
            console.log("teste");
           
            

            console.log(dia, mes, ano);
            
        }
 
    </script>

</div>




